body{
        background-color: #BBCB64;
        font-family: Arial, sans-serif;
    }
.app-heading{
        text-align: center;
        color: #CF0F0F;
        font-size: 48px;
    }
.container{
        width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #FFE52A;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
    }


